@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">E Diary</h1>
    <p>Your secret is save with us🤫...</p>
    <a class="btn btn-primary" asp-controller="NoAuth" asp-action="Login">Login</a>
    
</div>
