@{
    ViewData["Title"] = "View Note";
}

@model List<Note>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>